.DS_Store
node_modules
/build

# local env files
.env
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.cursor

# User-specific files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Hardhat files
/cache
/artifacts
